doctype html
html
  head
    title Login Page
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container.mt-5
      h1.text-center Iniciar Sesión

      if error
        .alert.alert-danger #{error}

      form(method="POST" action="/auth/login")
        .form-group
          label(for="correo") Correo Electrónico:
          input#correo.form-control(
            type="email" 
            name="correo"
            required
          )

        .form-group
          label(for="contrasena") Contraseña:
          input#contrasena.form-control(
            type="password" 
            name="contrasena"
            minlength="8"
            required
          )
        button.btn.btn-primary.w-100(type="submit") Iniciar Sesión

      p.text-center.mt-3
        | ¿No tienes una cuenta? 
        a(href="/auth/registro") Regístrate aquí

    footer
      //p © 2024 Tu Tienda Online. Todos los derechos reservados.
