doctype html
html
    head
        title Búsqueda productos
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        .container

            section 
                h1.mt-5 Resultados de la búsqueda
                //Tabla resultado de búsquedas
                table.table.table-striped.mt-4
                    thead
                        tr
                            th Nombre
                            th Descripción
                            th Precio
                            th Inventario
                            th Categoría
                    tbody
                    if productos && productos.length > 0
                        each producto in productos
                            tr
                                td #{producto.nombre}
                                td #{producto.descripcion}
                                td $ #{producto.precio}
                                td #{producto.inventario}
                                td #{producto.categoria}
                    else if terminoBusqueda
                        .alert.alert-info No se encontraron productos que coincidan con la búsqueda

    // Scripts de Bootstrap, Popper.js y jQuery
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
