extends ../layouts/admin-layout

block content
        .container

            section 
                h1.mt-5 Resultados de la búsqueda
                //Tabla resultado de búsquedas
                table.table.table-striped.mt-4
                    thead
                        tr
                            th Nombre
                            th Descripción
                            th Precio
                            th Inventario
                            th Categoría
                    tbody
                    if productos && productos.length > 0
                        each producto in productos
                            tr
                                td #{producto.nombre}
                                td #{producto.descripcion}
                                td $ #{producto.precio}
                                td #{producto.inventario}
                                td #{producto.categoria}
                    else if terminoBusqueda
                        .alert.alert-info No se encontraron productos que coincidan con la búsqueda

