extends ../layouts/admin-layout

block content
    .container
      h1.mt-5 Editar Producto

      form(action=`/productos/${producto.id}/actualizar` method="POST" enctype="multipart/form-data")
        .form-group
          label(for="nombre") Nombre:
          input.form-control(type="text" name="nombre" value=producto.nombre required)

        .form-group
          label(for="descripcion") Descripción:
          input.form-control(type="text" name="descripcion" value=producto.descripcion required)

        .form-group
          label(for="precio") Precio:
          input.form-control(type="number" step="0.01" name="precio" value=producto.precio required)

        .form-group
          label(for="inventario") Inventario:
          input.form-control(type="number" name="inventario" value=producto.inventario required)

        .form-group
            label(for="categoria") Categoría:
            .input-group
              select.form-control(name="categoria" required)
                option(value="" disabled) Seleccione una categoría
                each categoria in categorias
                  option(value=categoria.id) #{categoria.nombre}

        .form-group.p-0
          label(for="imagen") Imagen:
          if producto.imagen
            img.img-thumbnail(src=producto.imagen alt=producto.nombre style="max-width: 100px; margin-bottom: 10px;")
          input.form-control-file(type="file" name="imagen" accept="image/*")

        button.btn.btn-primary(type="submit") Actualizar Producto

      a.btn.btn-secondary.mt-3(href="/productos") Volver a la lista de productos
