extends ../layouts/admin-layout

block content
    .container
      .row.mt-5
        .col-md-8.offset-md-2
          .card
            .card-body
              h1.card-title #{usuario.nombre}
              h1.card-title #{usuario.apellido}

              hr

              .row
                .col-md-6
                  p.font-weight-bold Correo: 
                  span.badge.badge-success #{usuario.correo}
                .col-md-6
                  p.font-weight-bold Rol: 
                  span.badge.badge-info #{usuario.rol}

              hr

              .row.mt-3
                .col
                  a.btn.btn-secondary(href="/usuarios") Volver a la lista de usuarios

              .row.mt-3
                .col-md-6
                  // Formulario para eliminar usuario
                  form(action=`/usuarios/${usuario.id}/delete` method="post")
                    button.btn.btn-danger(type="submit") Eliminar Usuario

                .col-md-6
                  // Formulario para actualizar usuarios
                  a.btn.btn-primary(href=`/usuarios/${usuario.id}/editar`) Actualizar Usuario
