extends ../layouts/admin-layout

block content
    .container
      h1.mt-5 Editar Usuario

      form(action=`/usuarios/${usuario.id}/actualizar` method="post")
        .form-group
          label(for="nombre") Nombre:
          input.form-control(type="text" name="nombre" value=usuario.nombre required)

        .form-group
          label(for="apellido") Apellido:
          input.form-control(type="text" name="apellido" value=usuario.apellido required)

        .form-group
          label(for="correo") Correo:
          input.form-control(type="text" name="correo" value=usuario.correo required)

        .form-group
          label(for="contrasena") Contraseña:
          input.form-control(type="text" name="contrasena" value=usuario.contrasena required)

        .form-group
          label(for="rol") Rol:
          input.form-control(type="text" name="rol" value=usuario.rol required)

        button.btn.btn-primary(type="submit") Actualizar Usuario

      a.btn.btn-secondary.mt-3(href="/usuarios") Volver a la lista de usuarios
