extends ../layout

block content
    .container
        h1.mt-4 Mi Carrito de Compras
        
        if items && items.length > 0
            table.table.mt-4
                thead
                    tr
                        th Producto
                        th Precio
                        th Cantidad
                        th Total
                        th Acciones
                tbody
                    each item in items
                        tr
                            td
                                if item.Producto.imagen
                                    img.img-thumbnail.mr-2(src=item.Producto.imagen alt=item.Producto.nombre style="max-width: 50px")
                                span #{item.Producto.nombre}
                            td $#{item.Producto.precio}
                            td
                                form.d-inline.cantidad-form(action=`/carrito/actualizar/${item.id}` method="POST")
                                    .input-group.input-group-sm
                                        input.form-control.cantidad-input(
                                            type="number"
                                            name="cantidad"
                                            value=item.cantidad
                                            min="1"
                                            onchange="this.form.submit()"
                                        )
                            td $#{(item.Producto.precio * item.cantidad).toFixed(2)}
                            td
                                form.d-inline(action=`/carrito/eliminar/${item.id}` method="POST")
                                    button.btn.btn-danger.btn-sm(type="submit")
                                        i.fas.fa-trash 
                                        span.ml-1 Eliminar
            
            .card.mt-4
                .card-body
                    h3.text-right Total: $#{total.toFixed(2)}
                    .text-right.mt-3
                        a.btn.btn-success.btn-lg(href="/webpay_plus/init") Pagar con WebPay Plus

        else
            .alert.alert-info.mt-4
                p No hay productos en tu carrito
                a.btn.btn-primary(href="/productos") Ir a la Tienda
